@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://cdn.cms.prod.nypr.digital/images/shutterstock_1145568131.2e16d0ba.fill-1200x650.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 3rem;
  font-weight: 400;
  margin: 5rem auto 3rem auto;
  line-height: 1;
  text-align: center;
}

.countdowm-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timer{
  text-align: center;
}

p{
  font-size: 5rem;
  line-height: 1;
  margin: 2rem;
}

span {
  font-size: 2rem;
  font-weight: 600;
  color: #09f;
}

@media (min-width: 425px) {
  h1{
    font-size: 4rem;
  }

  p{
    font-size: 6rem;
  }
}