@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.app-container{
  min-height: 228px;
  max-height: 600px;
  overflow: hidden;
  width: 400px;
  border: 3px solid #addeff;
  position: relative;
  display: block;
}

.app-container .header{
  background-color: #addeff;
  text-align: center;
  font-family: inherit;
  height: 100px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.app-container .header h1{
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600; 
}

.app-container .header h4{
  font-size: 1.2rem;
  font-weight: 400; 
}

.app-container .body{
  padding: 0 .5rem;
  margin-top: 1rem;
  /* height: 470px; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */
}

.app-container .body p {
  text-align: center;
  margin-top: 3rem;
}

.app-container .body .task-container{
  padding: .5rem 1rem;
  border-radius: 10px;
  border: 2px solid #addeff;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-container .body li {
  list-style: none;
}

.app-container .body li.check{
  text-decoration: line-through;
}

.buttons-container{
  display: flex;
  margin-top: 2px;
}

.app-container .body i {
  color: #09f;
  font-size: 1.25rem;
  cursor: pointer;
}

.app-container .body i.check{
  color: #359F7A;
}

.app-container .body i.close-button{
  color: red;
  margin-left: .25rem;
}

.add-container{
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

.add {
  background-color: #addeff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
}

.add:hover {
  transform: scale(1.1);
}

.add i {
  font-size: 1.25rem;
  color: #fff;
}

.modal-container{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 49%, 0.5);
  display: none;
  position: absolute;
}

.modal{
  background-color: #addeff;
  padding: 2rem 3rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  position: relative;
}

.modal h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.modal .form-container{
  width: 100%;
  display: flex;
}

.modal .form-container input{
  padding: .5rem;
  width: 80%;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: inherit;
}

.modal .form-container button{
  padding: .5rem;
  width: 20%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #09f;
  font-weight: 600;
  font-family: inherit;
}

.close{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}